
{% if editForm is defined %}
<form method="post" id="add-user" action="{{ path('user_edit',{'id': user.id }) }}" {{ form_enctype(editForm) }}>
    {{ form_widget(editForm) }}
    <input type="submit" value="Edit" />
</form>
{% endif %}